* {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Public Sans" 'Courier New', Courier, monospace
  }
  
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }